.footer-container {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.footer-box1 {
  color: #ffff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.footer-box1 img {
  width: 230px;
}
.footer-coloumn {
  color: #ffff;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-content: end;
  padding: 40px 10px 10px 30px;
}
.socialicon-container {
  gap: 10px;
  display: flex;
  padding: 20px 0px 20px;
  align-items: center;
}
.footer-icon-text1 a:hover {
  color: white;
}
.footer-icon-text1,
a {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #ffff;
  text-decoration: none;
  font-size: 13px;
  line-height: 35px;
  cursor: pointer;
}
.footer-icon-text1 span {
  margin-left: 10px;
}
.footer-heads {
  color: #ffff;
  margin-bottom: 20px;
}
.footer-text-2 {
  line-height: 30px;
}
.h-line {
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: #aa9678;
}
.footer-copyright {
  color: #ffff;
  text-align: center;

  font-size: 11px;
  height: 28px;
  width: 100%;
  display: grid;
  place-items: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer-box1 {
    padding-left: 10px !important;
  }
}
